<ion-view class="app-tabbed-view">
  <ion-pane>
    <ion-tabs class="tabbed-navigation tabs-icon-top">
      <ion-tab title="Feed" icon-off="feed-icon" icon-on="feed-icon" >
        <ion-nav-view name="app-feed"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Map" icon-off="ion-ios-world" icon-on="ion-ios-world" ui-sref="custom.map">
        <ion-nav-view name="app-map"></ion-nav-view>
      </ion-tab>
      <!-- <ion-tab title="Liked" icon-off="liked-icon" icon-on="liked-icon" ui-sref="main.app.liked()">
        <ion-nav-view name="app-liked"></ion-nav-view>
      </ion-tab> -->
      <!--<ion-tab title="Account" icon-off="account-icon" icon-on="account-icon" ui-sref="main.app.account">-->
        <!--<ion-nav-view name="app-account"></ion-nav-view>-->
      <!--</ion-tab>-->
    </ion-tabs>
  </ion-pane>
</ion-view>
