<ion-view class="fashion-content-view" cache-view="false">
    <ion-header-bar class="fashion-content-header">
        <div class="buttons">
            <button class="button button-clear back-button" ng-click="goBack()">Back</button>
        </div>
        <h1 class="title">{{product.offer}}</h1>
    </ion-header-bar>
    <ion-content>


        <div id="redeemed-card23" class="list card">
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/common/qrcode.jpg" height="auto" width="100%">
            </div>
            <p class=" " style="color:#000000;" id="redeemed-markdown5"></p>
            <p class=" " style="color:#000000;font-size:40px;text-align:center;" id="redeemed-markdown4">07:36</p>
        </div>
    </ion-content>
</ion-view>
