<ion-view class="learn-view" cache-view="false">
  <ion-header-bar class="learn-header">
    <!--<div class="buttons">
      <button class="button button-clear skip-button" ng-show="show_skip_button" ng-click="skipIntro()">skip</button>
    </div>-->
  </ion-header-bar>
  <ion-content class="learn-content" has-bouncing="false">

    <div class="row slides-row">

      <div class="col">
        <section class="slide-pick-categories getting-started-sub-view" ng-include="'views/custom/slide-3.html'"></section>
      </div>
    </div>
    <div class="row actions-row" ng-show="show_call_to_action_button">
      <div class="col">

        <a class="button button-full action-button" ng-click="applyFilters()">PROMOTIONS</a>
      </div>
    </div>
  </ion-content>
</ion-view>
